<h1>Survey Form </h1>
<form action="/user/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    Your Name: <input type="text" name="user[name]"><br>
    Dojo Location: <input type="text" name="user[dojo]"><br>
    Favorite Language: <input type="text" name="user[language]"><br>
    <input type='submit' value='Create'>
</form>
